.body-img img {
  width: 100vw;
}

#navbar-sec{
  z-index: 10;
}

.navbar-brand img {
  width: 50px;
}

.body-index {
  background: #00a4ff;
}

.navbar {
  background-color: transparent !important;
  z-index: 20 !important;
}
.navbar:hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.68);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.68);
  transition: 300ms;
}
.box-white {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100vw;
  padding-top: 0.5rem;
}

.box-white:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 300ms;
}

#init-form{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,0.85);
  border-radius: 30px;
  z-index: 2;
  width: 461px;
}

.search-dropdown{
  display: block;
  position: fixed;
  width: 50% !important;
}

#init-alert{
  width: 100%;
}


.btn-withoutstyle{
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.btn-withoutstyle:focus-visible{
  outline: none !important;
}

.form-error{
  background-color: #F8D7DA;
}

#back-block{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}


#dialog-box{
  width: 250px;
  border: solid black 1px;
  position: absolute;
  border-radius: 3rem;
  left: 50px;
  top: 8%;
  font-family: 'Ubuntu Mono', monospace;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 640px) {
  #dialog-box-2{
    height: 150px;
    /* position: relative !important; */
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
  } 
}

.transparent-char{
  color: transparent;
}

#mouth{
  border: solid black 1px;
  position: absolute;
  border-radius: 50%;
  top: 188px;
  transform: rotate(90deg);
  font-size: 6px;
  visibility: hidden;
}

#play-btn{
  width: 100%;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  z-index: 20;
}

#play-btn:hover{
  background-color: #ffdfda;
  border: solid black; 
  /* background: -moz-radial-gradient(center, #CECECE 0%, #AAAAAA 50%, #C5C5C5 100%);
  background: -webkit-radial-gradient(center, #CECECE 0%, #AAAAAA 50%, #C5C5C5 100%);
  background: radial-gradient(ellipse at center, #CECECE 0%, #AAAAAA 50%, #C5C5C5 100%); */
  transition: background-color 300ms linear;
  transition: border 300ms linear;
}

.footer img {
  width: 27px;
}
.footer {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.footer a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}
/* .footer:hover{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.68); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.68);
} */

.search-form{
  width: 300px !important;
}

@media screen and (max-width: 450px) {
  .search-form{
    width: 250px !important;
  }
}

.search-helper1{
  width: 300px;
}
.search-helper2{
  width: 300px;
}

@media screen and (max-width: 450px) {
  .search-helper1{
    width: 250px !important;
  }
  .search-helper2{
    width: 250px !important;
  }
}

.not-in-view{
  display: none;
}

@media screen and (min-width: 576px){
  .box-white{
      margin-left: 3rem;
      margin-right: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin-top: 100px !important;
  }
}
@media screen and (min-width: 992px) {
  .body-img img {
    width: 992px;
  }
  #mouth{
    visibility: visible;
  }
  .body-img {
    display: flex;
    justify-content: center;
  }
  /* .search-form{
    width: 100% !important;
} */
}


@media screen and (max-width:400px) {
  #init-form{
    width: 100vw;
  }
}

@media screen and (max-width:576px) {
  #init-form{
    width: 80vw;
  }
}

@media screen and (min-width:420px) {
  #init-alert{
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

